{% extends 'base.html' %}

{% block content %}
<form action="{{ url_for('user.process_login') }}" method="POST">
    <div class="container">
        <h2>
        <p class="text-center">Log in</p>
        </h2>
            <div class="row">
            <div class="col">
            </div>
            <div class="col-4">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.user_email.label }}
                    {{ form.user_email() }}
                </div>
                <div class="form-group">
                    {{ form.user_password.label }}<br>
                    {{ form.user_password() }}
                </div>
                <div class="form-group form-check">
                    {{ form.remember_me() }}
                    {{ form.remember_me.label(class_='form-check-label') }}
                </div>
                {{ form.submit() }}
            </div>
            <div class="col">
            </div>
            </div>
            <div class="row">
                <h1> </h1>
            </div>
            <br>
            <div class="row">
            <div class="col">
            </div>
            <div class="col">
            <a class="btn btn-primary" href="{{ url_for('user.register') }}" role="button">Registration</a>
            </div>
            <div class="col">
            </div>
            </div>
    </div>
</form>

{% endblock %}