<nav class="navbar navbar-expand-md navbar navbar-light fixed-top" style="background-color: #facf23;">
    <a class="navbar-brand mb-0 h1" href="{{ url_for('main.main') }}">
        10,000-Hour Rule
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('about.about') }}">About us</a>
                </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for( 'tracks.tracks_points') }}">Tracks</a>
                </li>
                <ul class="navbar-nav navbar-right">                
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('user.profile') }}">My profile</a>
                    </li>
                    {% if current_user.is_admin %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('user.admin_index') }}">Admin panel</a>
                    </li>
                {% endif %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('user.logout') }}">Log out</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('user.login') }}">Log in</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('user.register') }}">Register</a>
                </li>
            </ul>
            {% endif %}
        </ul>
    </div>
</nav>