{% extends 'base.html' %}
{% block content %}


  <h2 class="u-size-xxl u-bold u-mb3 u-center">What is it all about?</h2>
  <p><b>Outliers: The Story of Success</b> is the third non-fiction book written 
    by Malcolm Gladwell and published by Little, Brown and Company on November 
    18, 2008. In Outliers, Gladwell examines the factors that contribute to 
    high levels of success. To support his thesis, he examines why the majority 
    of Canadian ice hockey players are born in the first few months of the 
    calendar year, how Microsoft co-founder Bill Gates achieved his extreme wealth,
    how the Beatles became one of the most successful musical acts in human 
    history, how Joseph Flom built Skadden, Arps, Slate, Meagher & Flom into one 
    of the most successful law firms in the world, how cultural differences play a
    large part in perceived intelligence and rational decision making, and how two
    people with exceptional intelligence, Christopher Langan and J. Robert Oppenheimer,
    end up with such vastly different fortunes. Throughout the publication, Gladwell
    repeatedly mentions the "10,000-Hour Rule", claiming that the key to achieving 
    world-class expertise in any skill, is, to a large extent,
    a matter of practicing the correct way, for a total of around 10,000 hours.</p>
  <br>

  <h2 class="u-size-xxl u-bold u-mb3 u-center">Goals</h2>
  <p>Some people find it difficult to keep in mind goals that take a long time
    to achieve and yet time is distributed. We are solving this problem.
    We record the time spent on certain tasks and output statistics about how much time is spent on a particular task,
    and how intensely we devote ourselves to the task at hand.</p>
  <br>

  <h2 class="u-size-xxl u-bold u-mb3 u-center">Rules and Tips</h2>
  <ul>
  <li>Create tracks.</li>
  <li>Select a date and specify the number of hours spent for each track.</li>
  <li>Monitor the time spent on issues using advanced statistics.</li>
  <li>Use the switch to switch between tasks.</li>
  <li>Use the telegram bot as an assistant and widget on your desktop.</li>
  </ul>


  {% endblock %}